/* video, audio {
    width: 100% !important;
    margin: 0 auto;
}

.container-text {
    display: flex;
    flex-flow: column nowrap;
}

.button-paragraph-play {
    border: none;
    font-size: 1rem;
    border-radius: 50%;
    transition: .5s ease all;
    margin: 0 .5em 0 0;
    box-shadow: 0 1.5px 10px rgba(0,0,0,0.2);
    text-decoration: none;
}

.button-paragraph-play:hover {
	text-decoration: none;
    filter: brightness(1.2);
    cursor: pointer;
}

.button-paragraph-play:active {
    filter: brightness(1.5);
    text-decoration: none;
}

.container-text span {
    font-weight: 300;
    color: #999;
}
.container-text span.seekable {
    cursor: pointer;
}

.container-text .played {
    color: black;
}

.speaker {
    color: black !important;
}

#publish-container {
    background-color: white;
    padding: 2em;
    border-radius: 12px;
    box-shadow: 0 0 6px #aaa;
}

.checkbox-label {
	font-size: 12pt;
} */

